<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="aa_11.Error_Handling"/>
      <class name="aa_11.Standalone_Including_Base_Test"/>

    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
    <classes>
      <class name="aa_11.API"/>

    </classes>
  </test> <!-- Test -->
  
</suite>
  
